<div class="card mb-2 mt-2" *ngIf="hero">
    <div class="card-header">
        <h5>{{hero.name | uppercase}}'s Details:</h5>
        <p>
            <span class="badge badge-secondary">id: </span>
            {{hero.id}}
        </p>
        <p>
            <span class="badge badge-secondary">Name: </span>
            {{hero.name}}
        </p>
    </div>
    <div class="card-body">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Name:</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="hero.name">
        </div>
    </div>
</div>
