<div>
  <h2>My Heroes</h2>
  <ul class="heroes">
    <li *ngFor="let hero of heroes"
     [class.selected]="hero === selectedHero"
     >
     <div class="inline" routerLink="/detail/{{hero.id}}" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span>
      {{hero.name}}
     </div>
     <div class="inline" (click)="deleteHero(hero)">
      <span>Delete</span>
     </div>
    </li>
  </ul>
  <br>
  <br>

  <h2>Add a Hero</h2>
  <label>Hero Name:
    <input type="text" #heroName />
  </label>
  <button (click)="add(heroName.value); heroName.value = ''">
    Add Hero
  </button>
</div>