<div>
  <h2>My Heroes</h2>
  <ul class="heroes">
    <li *ngFor="let hero of heroes"
      routerLink="/detail/{{hero.id}}"
     (click)="onSelect(hero)"
     [class.selected]="hero === selectedHero"
     >
      <span class="badge">{{hero.id}}</span>
      {{hero.name}}
      <span (click)="deleteHero(hero)" class="badge">X</span>
    </li>
  </ul>
  <br>
  <br>

  <h2>Add a Hero</h2>
  <label>Hero Name:
    <input type="text" #heroName />
  </label>
  <button (click)="add(heroName.value); heroName.value = ''">
    Add Hero
  </button>
</div>