<div *ngIf="selectedHero">
    <h2>{{selectedHero.name | uppercase}}'s details</h2>
    <p><span>id: </span>{{selectedHero.id}}</p>
    <p><span>name: </span>{{selectedHero.name}}</p>
    <div>
        <h3>Edit Hero:</h3>
        <label for="">Hero Name:
            <input type="text" [(ngModel)]="selectedHero.name">
        </label>
    </div>
</div>



<div>
    <h2>My Heroes</h2>
    <ul class="heroes">
        <li *ngFor="let hero of heroes"
            (click)="onSelect(hero)"
            [class.selected]="hero === selectedHero"
        >
            <span class="badge">{{hero.id}}</span>
            {{hero.name}}
        </li>
    </ul>
</div>
