<!-- <div class="container">
  <ul>
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)">
      <a routerLink="/detail/{{hero.id}}">
        <span>id: {{hero.id}} </span>name: {{hero.name}}
      </a>
    </li>
  </ul>
</div> -->

<div class="flex-container">
  <div class="header">
    Header
  </div>
  <div class="content">
    <div class="left-column">
      Left-column
    </div>
    <div class="right-column">
      Right - column
    </div>
  </div>
  <div class="footer">
    Footer
  </div>
</div>

