<div class="card mb-2 mt-2" *ngIf="selectedHero">
    <div class="card-header">
        <h5>{{selectedHero.name | uppercase}}'s Details:</h5>
        <p>
            <span class="badge badge-secondary">id: </span>
            {{selectedHero.id}}
        </p>
        <p>
            <span class="badge badge-secondary">Name: </span>
            {{selectedHero.name}}
        </p>
    </div>
    <div class="card-body">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Name:</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="selectedHero.name">
        </div>
    </div>
</div>

<div class="card mb-2 mt-2">
    <div class="card-header">
        <h5>My Heroes:</h5>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item" 
            *ngFor="let hero of heroes"
            (click)="onSelect(hero)"
            [class.active]="selectedHero === hero">
                <span class="badge badge-secondary">{{hero.id}}</span>
                {{hero.name}}
                <span class="badge badge-danger float-right pointer">X</span>
            </li>
        </ul>
    </div>
</div>