<ul class="nav nav-tabs">
  <li class="nav-item">
    <a routerLink="/heroes" routerLinkActive="active" class="nav-link">Heroes</a>
  </li>
  <li class="nav-item">
    <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">Dashboard</a>
  </li>
  <li class="nav-item">
    <a routerLink="/todos" routerLinkActive="active" class="nav-link">Todos</a>
  </li>
  <li class="nav-item">
    <a routerLink="/name-editor" routerLinkActive="active" class="nav-link">Name Editor</a>
  </li>
  <li class="nav-item">
    <a routerLink="/profile-editor" routerLinkActive="active" class="nav-link">Profile Editor</a>
  </li>
  <li class="nav-item">
    <a routerLink="/from-builder" routerLinkActive="active" class="nav-link">Form Builder</a>
  </li>
</ul>

<div class="container mt-2">
  <router-outlet></router-outlet>
  <app-messages></app-messages>
</div>