<div class="card mb-2">
    <div class="card-header">
        <h6>My Heroes</h6>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item" 
                *ngFor="let hero of heroes" 
                (click)="onSelect(hero)"
                [class.active]="selectedHero === hero">
                <span class="badge badge-secondary mr-2">{{hero.id}}</span>
                <a routerLink="/detail/{{hero.id}}">{{hero.name}}</a>
                <span class="badge badge-danger ml-2">X</span>
            </li>
        </ul>
    </div>
</div>
<div class="card mb-2">
    <div class="card-header">
        <h6>Add Hero</h6>
    </div>
    <div class="card-body">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Name:</span>
            </div>
            <input type="text" class="form-control" #heroName>
            <div class="input-group-append">
                <button class="btn btn-success" (click)="addHero(heroName.value); heroName.value=''">Add</button>
            </div>
        </div>
    </div>
</div>