<app-hero-details [hero]="selectedHero"></app-hero-details>
<div class="card mb-2">
    <div class="card-header">
        <h6>My Heroes</h6>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item" 
                *ngFor="let hero of heroes" 
                (click)="onSelect(hero)"
                [class.active]="selectedHero === hero">
                <span class="badge badge-secondary">{{hero.id}}</span>
                {{hero.name}}
                <span class="badge badge-danger">X</span>
            </li>
        </ul>
    </div>
</div>
