<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h2>{{greeting}}</h2>
        <h3>{{name}}</h3>
    </div>

    <div id="app2">
        <span v-bind:title="title">
            Hover over me!!
        </span>
    </div>

    <div id="app3">
        <div v-if="isvisible">Now you see me!</div> 
        <button v-on:click="change()">Change</button>
    </div>

    <div id="app4">
        <ul>
            <todo-item v-for="t in todos" v-bind:key="t.descr" v-bind:todo="t"><todo-item>
        </ul>
    </div>

    <div id="app5">
        <input type="text" v-model="inputData" v-on:keyDown="dataChange($event)">
    </div>
    <br>
    <div id="pop-up">
        <div id="tool-tip">
            This is a popup.
        </div>
        <button id="controlButton" onClick="showHide()">Hide</button>
    </div>
    <br>
    <br>
    <div id="newsletter">
        <h2>Sign up for our news letter.</h2> 
        <input type="text" id="input">
        <button onClick="submitEmail()" id="newsSignUpButton">Sign Up</button>
    </div>
    <script>
        var input = document.getElementById('input');

        function submitEmail(){
            // fetch('https://jsonplaceholder.typicode.com/todos')
            //     .then(response => response.json())
            //     .then(json => console.log(json))
            console.log(input.value)
        }
        

        var isVisible = true;
        function showHide(){
            var toolTip = document.getElementById('tool-tip');
            var button = document.getElementById('controlButton');

            toolTip.style.visibility = isVisible === true ? 'hidden' : 'visible';
            button.innerText = isVisible === true ? 'Show' : 'Hide';
            isVisible = !isVisible;
        }

        Vue.component('todo-item', {
            props:['todo'],
            template:'<li>{{todo.descr}}</li>'
        })

        var app5 = new Vue({
           el: '#app5',
           data:{
               inputData:'Hello World',
           },
           methods:{
               dataChange: function(event){
                   console.log(event);
               }
           }
        })
        var app4 = new Vue({
            el: '#app4',
            data:{
                todos:[
                    {name:"todo0", descr:"Program Vue js"},
                    {name:"todo1", descr:"Talk to Jordyn"},
                    {name:"todo2", descr:"Talk to Mom"},
                    {name:"todo3", descr:"Talk to Papa"},
                    {name:"todo4", descr:"Talk to Steven"},
                ]
            }
        })
        var app3 = new Vue({
            el:'#app3',
            data:{
                isvisible: false
            },
            methods:{
                change: function(){
                    this.isvisible = !this.isvisible;
                    app4.todos.push({name:'hello', descr:"Some Desc"});
                }
            }
        })
        var app = new Vue({
            el:'#app',
            data:{
                name:'tada',
                greeting:"Hello World"
            }
        })
        var app2 = new Vue({
            el:'#app2',
            data:{
                title:"You've loaded thid page on : " + new Date().toLocaleDateString(),
            }
        })
    </script>
        
</body>
</html>
