<br><br>
<div class="card">
  <div class="card-header">
    My Heroes
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-action" 
        (click)="onHeroSelect(hero)"
        *ngFor="let hero of heroes"
        [class.active]="hero === selectedHero"
        >
        <a routerLink="/detail/{{hero.id}}">
          <span class="badge badge-secondary">{{hero.id}}</span>
          {{hero.name}}
        </a>
        <button (click)="delete(hero)" class="btn btn-danger">Delete</button>
      </li>
    </ul>
  </div>
</div>

